### `Problem 1`: Write a program that will give you in hand monthly salary after deduction on CTC - HRA(10%), DA(5%), PF(3%) and taxes deduction as below:

> Salary(Lakhs) : Tax(%)

*   Below 5 : 0%
*   5-10 : 10%
*   10-20 : 20%
*   aboove 20 : 30%

In [ ]:
# Write code here
salary = int(input("Enter your salary in lacs: "))

if salary > 20 :
  tax_amount = (30/100) * salary
  net_salary = salary - tax_amount

elif salary > 10 and salary <= 20:
  tax_amount = (20/100) * salary
  net_salary = salary - tax_amount

elif salary >= 5 and salary <= 10:
  tax_amount = (10/100) * salary
  net_salary = salary - tax_amount

else:
  net_salary = salary

print(f'Your net income is: {net_salary}')

Enter your salary in lacs: 25
Your net income is: 17.5

### `Problem 2`: Write a program that take a user input of three angles and will find out whether it can form a triangle or not.

In [ ]:
#take three angles from user in degree
a, b, c = input("Enter three angles by space: ").split(" ")
a, b, c = int(a), int(b), int(c)

#take the sum of all three angles
total_angle = a + b + c

#put a condition whether it's a tringle or not?
if (a + b > c) and (b + c > a) and (c + a > b) and total_angle == 180:
  print(f'{a}, {b}, and {c} can be formed a triangle.')
else:
  print(f'{a}, {b}, and {c} cannot be formed a triangle.')

Enter three angles by space: 40 70 70
40, 70, and 70 can be formed a triangle.

### `Problem 3`: Write a program that will take user input of cost price and selling price and determines whether its a loss or a profit.

In [ ]:
# Write code here
#take Cost price and selling price as an input from user
CP = int(input("Enter Cost Price: "))
SP = int(input("Enter Selling Price: "))

if CP > SP:
  loss = CP - SP
  loss_pct = (loss/CP) * 100
  print(f'There is a loss of {loss_pct}%')
else:
  profit = SP - CP
  profit_pct = (profit/CP) * 100
  print(f'There is a profit of {profit_pct}%')

Enter Cost Price: 500
Enter Selling Price: 700
There is a profit of 40.0%

### `Problem 4`: Write a menu-driven program -
1. cm to ft
2. km to miles
3. USD to INR
4. exit

In [ ]:
# Write code here

### `Problem 5` - Exercise 12: Display Fibonacci series up to 10 terms.

*Note: The Fibonacci Sequence is a series of numbers. The next number is found by adding up the two numbers before it. The first two numbers are 0 and 1. For example, 0, 1, 1, 2, 3, 5, 8, 13, 21. The next number in this series above is 13+21 = 34*

In [ ]:
# Write code here
%%time
fab = 0
result = []
while len(result) < 11:
  if fab == 0:
    result.append(fab)
    fab += 1
  else:
    last_value = result[len(result) - 1]
    result.append(fab)
    fab += last_value

result

CPU times: user 29 µs, sys: 4 µs, total: 33 µs
Wall time: 36.7 µs

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [ ]:
# Write code here
%%time
num1, num2 = 0,1
for i in range(10):
  print(num1)
  next = num1 + num2
  num1 = num2
  num2 = next

0
1
1
2
3
5
8
13
21
34
CPU times: user 4.27 ms, sys: 0 ns, total: 4.27 ms
Wall time: 3.95 ms

### `Problem 6` - Find the factorial of a given number.

Write a program to use the loop to find the factorial of a given number.

The factorial (symbol: `!`) means to multiply all whole numbers from the chosen number down to 1.

For example: calculate the factorial of 5

```bash
5! = 5 × 4 × 3 × 2 × 1 = 120
```

Output:

```bash
120
```

In [ ]:
# Write code here
number = int(input('Enter the number: '))

fac = 1

while number >= 1:
  fac *= number
  number -= 1

print(f'Factorial is {fac}')

Enter the number: 4
Factorial is 24

### `Problem 7` - Reverse a given integer number.

Example:

`Input:`


```bash
76542
```

`Output:`

```bash
24567
```

In [ ]:
# Write code here
#take input number from user
number = int(input('Enter the number: '))

# initialize an empty string to store results
result = ''
while number > 0:
  result = result + str(number%10)
  number = number//10

print(f'Number of swappig is {result}.')

Enter the number: 76542
Number of swappig is 24567.

### `Problem 8`: Take a user input as integer N. Find out the sum from 1 to N. If any number if divisible by 5, then skip that number. And if the sum is greater than 300, don't need to calculate the sum further more. Print the final result. And don't use for loop to solve this problem.

**Example 1:**

`Input:`

```bash
30
```

`Output:`

```bash
276
```

In [ ]:
%%time
#take input number from user
number = int(input('Enter the number: '))

sum = 0
counter = 1

while counter <= number:
  if counter % 5 == 0:
    counter += 1
    continue
  else:
    if  sum + counter > 300:
      break
    else:
      sum += counter
    counter += 1



print(sum)

276
CPU times: user 2.66 ms, sys: 0 ns, total: 2.66 ms
Wall time: 2.49 ms

In [ ]:
# Write code here
%%time
N = int(input('enter the number'))
sum = 0
for i in range(1, N+1):
  if i % 5 == 0:
    continue
    sum += i
  if sum > 300:
    sum -= i
    break
print(sum)

0
CPU times: user 1.99 ms, sys: 0 ns, total: 1.99 ms
Wall time: 1.93 ms

### `Problem 9`: Write a program that keeps on accepting a number from the user until the user enters Zero. Display the sum and average of all the numbers.

In [ ]:
#take input number from user
sum = 0
count = 1
while True:
  number = int(input('Enter the number: '))
  if number != 0 :
    sum += number
    average = sum/count
    count +=1
  else:
    break

print(f"Sum of all numbers is {sum} and average is {average}")

Enter the number: 2
Enter the number: 3
Enter the number: 4
Enter the number: 5
Enter the number: 0
Sum of all numbers is 14 and average is 3.5

###`Problem 9`: Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [ ]:
# Write code here
for i in range(2000, 3201):
  if (i % 7 == 0) and ( i % 5 != 0):
    print(i, end =', ')

2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199,

###`Problem 10`: Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number. The numbers obtained should be printed in a space-separated sequence on a single line.

In [ ]:
for i in range(1000, 3001):
  if (i % 2 == 0):
    print(i, end =' ')

1000 1002 1004 1006 1008 1010 1012 1014 1016 1018 1020 1022 1024 1026 1028 1030 1032 1034 1036 1038 1040 1042 1044 1046 1048 1050 1052 1054 1056 1058 1060 1062 1064 1066 1068 1070 1072 1074 1076 1078 1080 1082 1084 1086 1088 1090 1092 1094 1096 1098 1100 1102 1104 1106 1108 1110 1112 1114 1116 1118 1120 1122 1124 1126 1128 1130 1132 1134 1136 1138 1140 1142 1144 1146 1148 1150 1152 1154 1156 1158 1160 1162 1164 1166 1168 1170 1172 1174 1176 1178 1180 1182 1184 1186 1188 1190 1192 1194 1196 1198 1200 1202 1204 1206 1208 1210 1212 1214 1216 1218 1220 1222 1224 1226 1228 1230 1232 1234 1236 1238 1240 1242 1244 1246 1248 1250 1252 1254 1256 1258 1260 1262 1264 1266 1268 1270 1272 1274 1276 1278 1280 1282 1284 1286 1288 1290 1292 1294 1296 1298 1300 1302 1304 1306 1308 1310 1312 1314 1316 1318 1320 1322 1324 1326 1328 1330 1332 1334 1336 1338 1340 1342 1344 1346 1348 1350 1352 1354 1356 1358 1360 1362 1364 1366 1368 1370 1372 1374 1376 1378 1380 1382 1384 1386 1388 1390 1392 1394 1396 1398 1400 1402 1404 1406 1408 1410 1412 1414 1416 1418 1420 1422 1424 1426 1428 1430 1432 1434 1436 1438 1440 1442 1444 1446 1448 1450 1452 1454 1456 1458 1460 1462 1464 1466 1468 1470 1472 1474 1476 1478 1480 1482 1484 1486 1488 1490 1492 1494 1496 1498 1500 1502 1504 1506 1508 1510 1512 1514 1516 1518 1520 1522 1524 1526 1528 1530 1532 1534 1536 1538 1540 1542 1544 1546 1548 1550 1552 1554 1556 1558 1560 1562 1564 1566 1568 1570 1572 1574 1576 1578 1580 1582 1584 1586 1588 1590 1592 1594 1596 1598 1600 1602 1604 1606 1608 1610 1612 1614 1616 1618 1620 1622 1624 1626 1628 1630 1632 1634 1636 1638 1640 1642 1644 1646 1648 1650 1652 1654 1656 1658 1660 1662 1664 1666 1668 1670 1672 1674 1676 1678 1680 1682 1684 1686 1688 1690 1692 1694 1696 1698 1700 1702 1704 1706 1708 1710 1712 1714 1716 1718 1720 1722 1724 1726 1728 1730 1732 1734 1736 1738 1740 1742 1744 1746 1748 1750 1752 1754 1756 1758 1760 1762 1764 1766 1768 1770 1772 1774 1776 1778 1780 1782 1784 1786 1788 1790 1792 1794 1796 1798 1800 1802 1804 1806 1808 1810 1812 1814 1816 1818 1820 1822 1824 1826 1828 1830 1832 1834 1836 1838 1840 1842 1844 1846 1848 1850 1852 1854 1856 1858 1860 1862 1864 1866 1868 1870 1872 1874 1876 1878 1880 1882 1884 1886 1888 1890 1892 1894 1896 1898 1900 1902 1904 1906 1908 1910 1912 1914 1916 1918 1920 1922 1924 1926 1928 1930 1932 1934 1936 1938 1940 1942 1944 1946 1948 1950 1952 1954 1956 1958 1960 1962 1964 1966 1968 1970 1972 1974 1976 1978 1980 1982 1984 1986 1988 1990 1992 1994 1996 1998 2000 2002 2004 2006 2008 2010 2012 2014 2016 2018 2020 2022 2024 2026 2028 2030 2032 2034 2036 2038 2040 2042 2044 2046 2048 2050 2052 2054 2056 2058 2060 2062 2064 2066 2068 2070 2072 2074 2076 2078 2080 2082 2084 2086 2088 2090 2092 2094 2096 2098 2100 2102 2104 2106 2108 2110 2112 2114 2116 2118 2120 2122 2124 2126 2128 2130 2132 2134 2136 2138 2140 2142 2144 2146 2148 2150 2152 2154 2156 2158 2160 2162 2164 2166 2168 2170 2172 2174 2176 2178 2180 2182 2184 2186 2188 2190 2192 2194 2196 2198 2200 2202 2204 2206 2208 2210 2212 2214 2216 2218 2220 2222 2224 2226 2228 2230 2232 2234 2236 2238 2240 2242 2244 2246 2248 2250 2252 2254 2256 2258 2260 2262 2264 2266 2268 2270 2272 2274 2276 2278 2280 2282 2284 2286 2288 2290 2292 2294 2296 2298 2300 2302 2304 2306 2308 2310 2312 2314 2316 2318 2320 2322 2324 2326 2328 2330 2332 2334 2336 2338 2340 2342 2344 2346 2348 2350 2352 2354 2356 2358 2360 2362 2364 2366 2368 2370 2372 2374 2376 2378 2380 2382 2384 2386 2388 2390 2392 2394 2396 2398 2400 2402 2404 2406 2408 2410 2412 2414 2416 2418 2420 2422 2424 2426 2428 2430 2432 2434 2436 2438 2440 2442 2444 2446 2448 2450 2452 2454 2456 2458 2460 2462 2464 2466 2468 2470 2472 2474 2476 2478 2480 2482 2484 2486 2488 2490 2492 2494 2496 2498 2500 2502 2504 2506 2508 2510 2512 2514 2516 2518 2520 2522 2524 2526 2528 2530 2532 2534 2536 2538 2540 2542 2544 2546 2548 2550 2552 2554 2556 2558 2560 2562 2564 2566 2568 2570 2572 2574 2576 2578 2580 2582 2584 2586 2588 2590 2592 2594 2596 2598 2600 2602 2604 2606 2608 2610 2612 2614 2616 2618 2620 2622 2624 2626 2628 2630 2632 2634 2636 2638 2640 2642 2644 2646 2648 2650 2652 2654 2656 2658 2660 2662 2664 2666 2668 2670 2672 2674 2676 2678 2680 2682 2684 2686 2688 2690 2692 2694 2696 2698 2700 2702 2704 2706 2708 2710 2712 2714 2716 2718 2720 2722 2724 2726 2728 2730 2732 2734 2736 2738 2740 2742 2744 2746 2748 2750 2752 2754 2756 2758 2760 2762 2764 2766 2768 2770 2772 2774 2776 2778 2780 2782 2784 2786 2788 2790 2792 2794 2796 2798 2800 2802 2804 2806 2808 2810 2812 2814 2816 2818 2820 2822 2824 2826 2828 2830 2832 2834 2836 2838 2840 2842 2844 2846 2848 2850 2852 2854 2856 2858 2860 2862 2864 2866 2868 2870 2872 2874 2876 2878 2880 2882 2884 2886 2888 2890 2892 2894 2896 2898 2900 2902 2904 2906 2908 2910 2912 2914 2916 2918 2920 2922 2924 2926 2928 2930 2932 2934 2936 2938 2940 2942 2944 2946 2948 2950 2952 2954 2956 2958 2960 2962 2964 2966 2968 2970 2972 2974 2976 2978 2980 2982 2984 2986 2988 2990 2992 2994 2996 2998 3000

###`Problem 11`: A robot moves in a plane starting from the original point (0,0). The robot can move toward UP, DOWN, LEFT and RIGHT with a given steps.
The trace of robot movement is shown as the following:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
> The numbers after the direction are steps.

> `!` means robot stop there.

**Please write a program to compute the distance from current position after a sequence of movement and original point.**

*If the distance is a float, then just print the nearest integer.*

Example:

`Input`:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
`Output`:
```
2
```

In [ ]:
# Write code here

###`Problem 12`:Write a program to print whether a given number is a prime number or not

In [ ]:
# Write code here
number = int(input('Enter the number: '))

for i in range(1, 10):
  if (number % i == 0) and (i != number) and (i != 1):
    print("This number is not a prime number")
    break
else:
  print("This is a prime number")

Enter the number: 20
This number is not a prime number

###`Problem 13`:Print all the Armstrong numbers in a given range.
Range will be provided by the user<br>
Armstrong number is a number that is equal to the sum of cubes of its digits. For example 0, 1, 153, 370, 371 and 407 are the Armstrong numbers.

In [ ]:
start = int(input("Enter the starting number of the range: "))
end = int(input("Enter the range limit: "))

for i in range(start, end):
  sum = 0
  number = i
  while number > 0:
    sum += (number % 10)** 3
    number = number // 10
  if i == sum:
    print(f'{i} is Armstring number')

Enter the starting number of the range: 0
Enter the range limit: 4000
0 is Armstring number
1 is Armstring number
153 is Armstring number
370 is Armstring number
371 is Armstring number
407 is Armstring number

###`Problem 14`:Calculate the angle between the hour hand and minute hand.

Note: There can be two angles between hands; we need to print a minimum of two. Also, we need to print the floor of the final result angle. For example, if the final angle is 10.61, we need to print 10.

Input:<br>
H = 9 , M = 0<br>
Output:<br>
90<br>
Explanation:<br>
The minimum angle between hour and minute
hand when the time is 9 is 90 degress.

In [ ]:
# Write code here
hour = 9
minute = 0

# the hour hand moves 30 degree each hour and minute hand moves 6 degree each minute
angle = (30*hour) - (6 * minute)
# we want to calulate the minimum angle between the hour and the minute
# so if one angle is greater than 180 we need to subtract it from 360 to calculate the other one , so that we can get minimum angle
if angle > 180:
  angle = 360 - angle
print(angle)

90

###`Problem 15`:Given two rectangles, find if the given two rectangles overlap or not. A rectangle is denoted by providing the x and y coordinates of two points: the left top corner and the right bottom corner of the rectangle. Two rectangles sharing a side are considered overlapping. (L1 and R1 are the extreme points of the first rectangle and L2 and R2 are the extreme points of the second rectangle).

Note: It may be assumed that the rectangles are parallel to the coordinate axis.

<img src='https://www.geeksforgeeks.org/wp-content/uploads/rectanglesOverlap.png' width='300' height='200'>

In [ ]:
l1x, l1y = input("Enter two points of Cooridinate L1 by space: ").split()
l2x, l2y = input("Enter two points of Cooridinate L2 by space: ").split()

r1x, r1y = input("Enter two points of Cooridinate R1 by space: ").split()
r2x, r2y = input("Enter two points of Cooridinate R2 by space: ").split()


if (int(r1x) > int(l2x))  and (int(r1y) > int(l2y)) and (int(r2y) < int(l1y)):
  print("Given rectangle will overlap")
else:
  print("Given rectangle will not overlap")

Enter two points of Cooridinate L1 by space: 0 10
Enter two points of Cooridinate L2 by space: 5 5
Enter two points of Cooridinate R1 by space: 10 0
Enter two points of Cooridinate R2 by space: 15 0
Given rectangle will overlap