In [1]:

names:list[str] = ["Sadia","John","David"]

for name in names[-2:]:
    print(f'Welcome Dear Learner {name.title()}')
    print("Python Community Member.\n")

Welcome Dear Learner John
Python Community Member.

Welcome Dear Learner David
Python Community Member.

In [6]:
names:list[str] = ["Sadia","John","David"]

for name in names[-2::-1]:
    print(f'Welcome Dear Learner {name.upper()}')
    print("Python Community Member.\n")

Welcome Dear Learner JOHN
Python Community Member.

Welcome Dear Learner SADIA
Python Community Member.

In [16]:
database : list[tuple[str]] = [("sadia",'123'),
                                    ("john",'345'),
                                    ('david','789')
                                    ]

for row in database:
    print(row)

('sadia', '123')
('john', '345')
('david', '789')

In [9]:
database : list[tuple[str, str]] = [("sadia",'123'),
                                    ("john",'345'),
                                    ('david','789')
                                    ]

for row in database:
    user, password = row
    print(user, password)

sadia 123
john 345
david 789

In [5]:
database: list[tuple[str, str]] = [("sadia", "123"), ("john", "345"), ("david", "789")]

input_user : str = input("Enter your name: ")
input_password : str = input("Enter your password: ")
for row in database:
    user, password = row
    if user == input_user and password == input_password:
        print(f"Valid User {input_user}")
        break
    else:
        print("Invalid User")

Invalid User
Valid User john

In [6]:
names:list[str] = ["Sadia","John","David"]

for index, name in enumerate(names):
    print(index, name)

0 Sadia
1 John
2 David

## Numbers with loop

In [7]:
for n in range(1, 11):
    print(f"2 x {n} = {n*2}")

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

## List comprehensive
`for item in items_list:
    loop_body`
#### Comprehensive Style
`[loop_body for item in items_list]`

In [8]:
[f"2 x {n} = {2*n}" for n in range(1,11)]

['2 x 1 = 2',
 '2 x 2 = 4',
 '2 x 3 = 6',
 '2 x 4 = 8',
 '2 x 5 = 10',
 '2 x 6 = 12',
 '2 x 7 = 14',
 '2 x 8 = 16',
 '2 x 9 = 18',
 '2 x 10 = 20']

In [10]:
numbers:list[int] = [n**2 for n in range(1, 11)]
numbers

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## Tuples

In [11]:
names:tuple[str] = ('A',"B",'C')
print(names[0])
print(names[0:2])

A
('A', 'B')

In [12]:
names:tuple[str] = ('A',"B",'C')

names[0] = "Pakistan"

TypeError: 'tuple' object does not support item assignment

In [14]:
names:tuple[str] = ('A',"B",'C')

names:tuple[str] = ('Pakistan',"B",'C')

print(names)

('Pakistan', 'B', 'C')

In [17]:
from typing import Any
data : tuple[Any] = ("A",[1,2,3], True)

print(data)

('A', [1, 2, 3], True)

In [19]:
data : tuple[Any] = ("A",[1,2,3], True)

print(data[1])
data[1].append(20)
print(data)

[1, 2, 3]
('A', [1, 2, 3, 20], True)

In [20]:
names:tuple[str] = ('B',"A",'C')
sorted(names)

['A', 'B', 'C']